<section class="chart">
  <div class="general-disposition" *ngIf="!developersGames">
    <article class="company-block">
      <h2 class="title">Games count for shown companies</h2>
      <h3>
        In this chart you'll be able to see the total of games (DLC included) that several
        (hundreds) companies have produce.
      </h3>
      <p>
        I personally find it really interesting because it's clearly displaying that
        <q>success</q> or <q>wealth</q> is not only a quantity matter but also - or more like above
        everything else - a quality matter
      </p>
      <app-link-list
        [customClass]="'dev-list'"
        [itemList]="developersNameAndId"
        (onClick)="getIdToFetchGames($event)"
        [id]="true"
      ></app-link-list>
      <div class="button-disposition">
        <app-button
          *ngIf="previousPage"
          [customClass]="'button'"
          (onClick)="getNewPage(previousPage)"
          children="Previous page"
        ></app-button>
        <app-button
          [customClass]="'button'"
          (onClick)="getNewPage(nextPage)"
          children="Next page"
        ></app-button>
      </div>

      <div *ngIf="!isDevsLoaded">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <div *ngIf="isDevsLoaded">
        <app-chart
          [datasets]="gamesDataset"
          [labels]="gamesLabels"
          [options]="optionsWithoutDisplay"
          [chartType]="'bar'"
        ></app-chart>
      </div>
    </article>
    <article>
      <h2 class="title">Financial report of (not so random) videogames companies</h2>
      <div class="select">
        <app-option-selector
          [symbolList]="symbolList"
          (selectedSymbol)="onSelectSymbol($event)"
        ></app-option-selector>
      </div>
      <h3 class="subtitle">Annual earning per share (EPS) report since the start of the company</h3>
      <div *ngIf="!isYearlyLoaded">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <div *ngIf="isYearlyLoaded">
        <app-chart
          [datasets]="annualDataset"
          [labels]="annualLabels"
          [options]="optionsWithoutDisplay"
          [chartType]="'bar'"
        ></app-chart>
      </div>
      <h3 class="subtitle">
        Quarterly earning per share (EPS) report since the start of the company
      </h3>
      <app-chart-type-selector (selectedType)="onChangeChartType($event)"></app-chart-type-selector>
      <div *ngIf="!isQuarterlyLoaded">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <div *ngIf="isQuarterlyLoaded">
        <app-chart
          [datasets]="quarterlyDataset"
          [labels]="quarterlyLabels"
          [options]="optionsWithDisplay"
          [chartType]="selectedType"
        ></app-chart>
      </div>
    </article>
  </div>

  <div class="general-disposition" *ngIf="developersGames">
    <article class="company-block">
      <h2 class="title">Games by platform</h2>
      <div class="button-disposition">
        <app-button-list
          [buttonList]="developersPlatforms"
          [customClass]="'button'"
          [onClickEvent]="getGamesByPlatform.bind(this)"
        ></app-button-list>
      </div>
      <div class="button-disposition">
        <app-button
          *ngIf="previousPage"
          [customClass]="'button'"
          (onClick)="getNewPageFromGames(previousPage)"
          children="Previous page"
        ></app-button>
        <app-button
          *ngIf="nextPage"
          [customClass]="'button'"
          (onClick)="getNewPageFromGames(nextPage)"
          children="Next page"
        ></app-button>
      </div>

      <div *ngIf="!isDevsLoaded">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <div *ngIf="isDevsLoaded">
        <app-chart
          [datasets]="developersGamesDataset"
          [labels]="developersGamesLabels"
          [options]="gamesFromCompany"
          [chartType]="'bar'"
        ></app-chart>
      </div>
    </article>
  </div>
</section>
