
:host ::ng-deep app-link-list .list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 95%;

    li {
      list-style: none;
      padding-right: 1rem;
    }

    a {
      text-decoration: none;
      color: black;
    }
  }
